.caret {
  width        : 0;
  height       : 0;
  border-style : solid;
  &-left {
    border-width : 8px 14px 8px 0;
    border-color : transparent white transparent transparent;
  }
  &-right {
    border-width : 8px 0 8px 14px;
    border-color : transparent transparent transparent white;
  }
}