:root {
  --animate-delay   : 0.5s;
  --mountain-spacer : 422px;
  --nav-offset      : 38px;
}

body {
  display         : flex;
  flex-direction  : column;
  min-height      : 100vh;
  margin-top      : var(--nav-offset);
  scroll-behavior : smooth;
}

.content {
  position         : relative;
  background-color : white;
  margin-top       : -20vh;
  display          : flex;
  flex-direction   : column;
  overflow         : hidden;
  @media (max-width : 1330px) {
    margin-top : 50px;
  }
}

.spacer {
  background-color : white;
  z-index          : 1;
  padding-bottom   : var(--mountain-spacer);
}

.floating-img {
  float : right;
  @include media-breakpoint-down(md) {
    max-width : 90px;
    height    : auto;
  }
}

