$font-family-base           : 'Ubuntu', sans-serif;
$font-size-root             : 18px;
$border-radius              : .5rem;
$border-width               : 2px;

$grannysmith                : #7dc053;
$teagreen                   : #D0EFB1;
$opal                       : #9DC3C2;
$pewterblue                 : #77A6B6;
$queenblue                  : #4D7298;
$onyx                       : #35393C;

$nf_green                   : #007758;
$nf_red                     : #E30513;

$primary                    : $grannysmith;
$secondary                  : $nf_green;
$body-color                 : $onyx;

// cards

$card-border-width          : 0;

//btns
$btn-font-weight            : 600;
$btn-font-family            : 'Open Sans';
$btn-focus-box-shadow       : 0 0 0 0;
$input-btn-focus-box-shadow : 0 0 0 0;
$btn-focus-width            : 0;
//$enable-gradients  : true;