$font-family-base : 'Ubuntu', sans-serif;
$font-size-root   : 18px;

$grannysmith      : #B3D89C;
$teagreen         : #D0EFB1;
$opal             : #9DC3C2;
$pewterblue       : #77A6B6;
$queenblue        : #4D7298;
$onyx             : #35393C;

$nf_green         : #007758;
$nf_red           : #E30513;


$primary          : $grannysmith;
$body-color       : $onyx;