h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family : 'Balsamiq Sans', cursive;
}

h1 {
  &:after {
    display          : block;
    width            : 3rem;
    height           : 3px;
    background-color : $nf_red;
    content          : "";
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FF0066' d='M26.3,14.9C18.9,28,-12.7,26.8,-21.2,13.1C-29.6,-0.6,-14.8,-26.8,1,-26.2C16.8,-25.6,33.7,1.8,26.3,14.9Z' transform='translate(100 100)' /%3E%3C/svg%3E");
  }
}