h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family : 'Balsamiq Sans', cursive;
}

h1 {
  &:after {
    display          : block;
    width            : 3rem;
    height           : 3px;
    background-color : $nf_red;
    content          : "";
  }
}