---
title: Naturfreunde Tecklenburg - Neuigkeiten
layout: base.njk
pagination:
  data: neuigkeiten
  size: 100
  alias: neuigkeiten
---
<main class="pt-5">
  <div class="container">
    <h1>Aktuelles</h1>
    <div class="row gy-2 my-5">
      {% for news in neuigkeiten %}

        {% if loop.index % 2 == 0 %}
        {% set delay = 'animate__delay-1s' %}
        {% elseif loop.index % 3 == 0 %}
          {% set delay = 'animate__delay-2s' %}
        {% elseif loop.index % 4 == 0 %}
          {% set delay = 'animate__delay-3s' %}
          {% endif %}
        <div class="col-md-6 col-xl-3 animate__animated animate__fadeInUp {{ delay }}">
          <div class="card news-card h-100 js-tilt " data-tilt data-tilt-max="5" data-tilt-speed="800">
            {% set publishedDate = news.published_at  | replace("-", "/")  | replace("T", " ") | replace(r/ .*/g, "") %}
            {% set publishedDate = publishedDate.split("/") | reverse | join('/') %}

            {% set thumbnail = news.TeaserImage.formats.thumbnail %}
            {% if thumbnail %}
              <img src="{{ thumbnail.url }}" alt="{{ news.TeaserImage.alternativeText }}"
                   loading="lazy" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" class="card-img-top">
            {% endif %}
            <div class="card-body d-flex flex-column">
              <div class="news-card-date">{{ publishedDate }}</div>
              <h5 class="card-title">{{ news.Title }}</h5>
              <p class="card-text">{{ news.TeaserText }}</p>

              <a href="/aktuelles/{{ news.Title | slug }}/"
                 class="btn btn-secondary stretched-link mt-auto d-inline-block">Mehr
                Lesen</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
<script src="{{ '/tilt.js' | url }}"></script>
