---
title: Naturfreunde Tecklenburg - Neuigkeiten
bodyClass: news-overview
layout: base.njk
---
<main class="pt-5">
    <div class="container">
        <h1>Aktuelles</h1>
        <div class="row g-4">
            {% for post in instapostsFormatted %}
                <div class="col-md-4">
                    <div class="card news-card js-clamp">
                        <div class="card-body d-flex flex-column">
                            <div class="row mb-2 news-card-infos">
                                <div class="col-md-6">
                                    <div class="news-card-location">{{ post.location }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="news-card-date new text-md-end">
                                        {{ post.dateString }}
                                    </div>
                                </div>
                            </div>
                            <img src="{{ post.displayImage }}" alt="" class="img-fluid card-img-top rounded mb-3">
                            <div class="news-card-text">
                                {{ post.caption|safe }}
                                {% if post.detailLink %} {{ post.slug }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
<script src="{{ '/news.js' | url }}"></script>
