---
title: Naturfreunde Tecklenburg
bodyClass: front-page
layout: base.njk
---
<div class="title-content-box">
  <h1>{{ frontpage.Title }}</h1>
  {% if frontpage.showInterferer %}
    <p class="attention">
      {{ frontpage.interfererText }}
      {% if frontpage.interfererLink %}
        <a href="{{ frontpage.interfererLink }}" target="_blank" class="stretched-link"
           rel="nofollow"></a>
      {% endif %}
    </p>
  {% endif %}

  <picture>
    <source media="(min-width: 991px)" srcset="{{ frontpage.HeaderImage.formats.large.url }}">
    <source media="(min-width: 576px)" srcset="{{ frontpage.HeaderImage.formats.medium.url }}">
    <source srcset="{{ frontpage.HeaderImage.formats.small.url }}">
    <img src="{{ frontpage.HeaderImage.formats.small.url }}" alt="" class="title-img">
  </picture>
</div>
{% include 'components/mountains.njk' %}

<main class="content">
  <div class="container">
    <section class="row mb-2 mb-md-5">
      <div class="col-md-8 offset-md-2">
        <img src="images/nfd-bildmarke.png" alt="NFD-Bildmarke" loading="lazy" class="img-fluid floating-img figure animate__animated animate__fadeIn animate__delay-1s">
        <div class="animate__animated animate__fadeIn">{% markdown %}{{ frontpage.Content }}{% endmarkdown %}</div>
      </div>
      <div class="mt-5">
        <figure class="figure animate__animated animate__fadeIn animate__delay-2s">
          <img src="images/gruppenbild.jpg" alt="Unsere Gründungsmitglieder" class="figure-img img-fluid"
               loading="lazy">
          <figcaption>Unsere Gründungsmitglieder v.l.n.r: Tom, Janka, Martin, Stefan, Julia, Thomas, Julius</figcaption>
        </figure>
      </div>
    </section>
  </div>
  <div class="container-fluid container-xxl">
    {# Set Images for Boxes #}

    {% set goalsImage = frontpage.goalsImage %}
    {% if goalsImage.formats.medium %}
      {% set goalsImageUrl = goalsImage.formats.medium.url %}
    {% else %}
      {% set goalsImageUrl = goalsImage.url %}
    {% endif %}

    {% set offeringsImage = frontpage.offeringsImage %}
    {% if offeringsImage.formats.medium %}
      {% set offeringsImageUrl = offeringsImage.formats.medium.url %}
    {% else %}
      {% set offeringsImageUrl = offeringsImage.url %}
    {% endif %}

    {# --- #}
    <section class="row gx-0 gy-3 gy-md-0 image-text-boxes">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="600" data-aos-offset="400">
        <img src="{{ offeringsImageUrl }}" alt="" class="box-image" loading="lazy">
      </div>

      <div class="col-md-6 px-4 d-flex" data-aos="fade-left" data-aos-duration="600" data-aos-offset="400">
        <div class="my-auto">
          <h2>Wir bieten euch</h2>
          {% markdown %}{{ frontpage.offeringsText }}{% endmarkdown %}
        </div>
      </div>
      <div class="col-md-6 px-4 d-flex anchor" id="Ziele" data-aos="fade-right" data-aos-duration="600" data-aos-offset="400">
        <div class="my-auto">
          <h2>Unsere Ziele:</h2>
          {% markdown %}{{ frontpage.goalsList }}{% endmarkdown %}
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="600">
        <img src="{{ goalsImageUrl }}" alt="" class="box-image" loading="lazy">
      </div>
      <div class="col-md-8 offset-md-2 my-5" data-aos="fade-up" data-aos-duration="600" data-aos-offset="400">
        {% markdown %}{{ frontpage.textAfter }}{% endmarkdown %}
      </div>
    </section>
  </div>
  <div class="my-3"></div>
  <div class="container">
    <section class="row gx-2">
      <div class="col-md-8 offset-md-2">
        <div class="anchor" id="MitgliedWerden" data-aos="fade-up" data-aos-duration="600" data-aos-offset="400">
          <h2>Wie werde ich Mitglied?</h2>
          {% markdown %}{{ frontpage.MitgliedWerdenText }}{% endmarkdown %}
        </div>
      </div>
    </section>
    <div class="my-5 anchor" id="Vorstand">
      {% include 'components/association-board.njk' %}
    </div>
    <div class="pt-5 my-5 anchor" id="KooperationsPartner">
      {% include 'components/partners.njk' %}
    </div>
    <div class="mt-md-0 mt-4 mb-5">
      {% include 'components/news-overview-small.njk' %}
    </div>
  </div>
</main>
