---
title: Naturfreunde Tecklenburg
bodyClass: front-page
layout: base.njk
---
<div class="title-content-box">
  <h1>{{ frontpage.Title }}</h1>
  {% if frontpage.showInterferer %}
    <p class="attention">
      {{ frontpage.interfererText }}
      {% if frontpage.interfererLink %}
        <a href="{{ frontpage.interfererLink }}" target="_blank" class="stretched-link"
           rel="nofollow"></a>
      {% endif %}
    </p>
  {% endif %}

  <picture>
    <source media="(min-width: 991px)" srcset="{{ frontpage.HeaderImage.formats.large.url }}">
    <source media="(min-width: 576px)" srcset="{{ frontpage.HeaderImage.formats.medium.url }}">
    <source srcset="{{ frontpage.HeaderImage.formats.small.url }}">
    <img src="{{ frontpage.HeaderImage.formats.small.url }}" alt="" class="title-img">
  </picture>
</div>
<div class="gebirge">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
       class="animate__animated animate__fadeInUp animate__delay-1s">
    <path fill="#0099ff" fill-opacity="1"
          d="M0,160L48,138.7C96,117,192,75,288,85.3C384,96,480,160,576,165.3C672,171,768,117,864,96C960,75,1056,85,1152,106.7C1248,128,1344,160,1392,176L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
       class="animate__animated animate__fadeInUp animate__fast">
    <path fill="white" fill-opacity="1"
          d="M0,192L48,176C96,160,192,128,288,101.3C384,75,480,53,576,74.7C672,96,768,160,864,176C960,192,1056,160,1152,144C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 1440 320" xml:space="preserve">
      <path class="st0" d="M0,224l80-5.4c80-5.1,240-16.1,400-10.6s320,26.5,480,34.6c160,7.9,320,2.9,400,0l80-2.6v80h-80
      c-80,0-240,0-400,0s-320,0-480,0s-320,0-400,0H0V224z"/>
    </svg>
</div>

<main class="content">
  <div class="container">
    <section class="row mb-2 mb-md-5">
      <div class="col-md-8 offset-md-2">
        <img src="images/nfd-bildmarke.png" alt="NFD-Bildmarke" loading="lazy" class="img-fluid floating-img">
        {% markdown %}{{ frontpage.Content }}{% endmarkdown %}
      </div>
      <div class="mt-5">
        <figure class="figure">
          <img src="images/gruppenbild.jpg" alt="Unsere Gründungsmitglieder" class="figure-img img-fluid"
               loading="lazy">
          <figcaption>Unsere Gründungsmitglieder v.l.n.r: Tom, Janka, Martin, Stefan, Julia, Thomas, Julius</figcaption>
        </figure>
      </div>
    </section>
  </div>
  <div class="my-3"></div>
  <div class="container-fluid container-xxl">
    {# Set Images for Boxes #}

    {% set goalsImage = frontpage.goalsImage %}
    {% if goalsImage.formats.medium %}
      {% set goalsImageUrl = goalsImage.formats.medium.url %}
    {% else %}
      {% set goalsImageUrl = goalsImage.url %}
    {% endif %}

    {% set offeringsImage = frontpage.offeringsImage %}
    {% if offeringsImage.formats.medium %}
      {% set offeringsImageUrl = offeringsImage.formats.medium.url %}
    {% else %}
      {% set offeringsImageUrl = offeringsImage.url %}
    {% endif %}

    {# --- #}
    <section class="row gx-0 gy-3 gy-md-0 image-text-boxes">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="600" data-aos-offset="400">
        <img src="{{ offeringsImageUrl }}" alt="" class="box-image" loading="lazy">
      </div>

      <div class="col-md-6 px-4 d-flex">
        <div class="my-auto">
          <h2>Wir bieten euch</h2>
          {% markdown %}{{ frontpage.offeringsText }}{% endmarkdown %}
        </div>
      </div>
      <div class="col-md-6 px-4 d-flex anchor" id="Ziele">
        <div class="my-auto">
          <h2>Unsere Ziele:</h2>
          {% markdown %}{{ frontpage.goalsList }}{% endmarkdown %}
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="600">
        <img src="{{ goalsImageUrl }}" alt="" class="box-image" loading="lazy">
      </div>
      <div class="col-md-8 offset-md-2 my-5">
        {% markdown %}{{ frontpage.textAfter }}{% endmarkdown %}
      </div>
    </section>
  </div>
  <div class="my-3"></div>
  <div class="container">
    <section class="row gx-2">
      <div class="col-md-8 offset-md-2">
        <div class="anchor" id="MitgliedWerden"><h2>Wie werde ich Mitglied?</h2>
          {% markdown %}{{ frontpage.MitgliedWerdenText }}{% endmarkdown %}
        </div>
      </div>
    </section>
    <section class="my-5">
      <div class="anchor" id="Vorstand">
        <h2>Unser Vorstand:</h2>
        <div class="vorstand row mt-3 gy-4">
          {% for mitglied in vorstand %}
            {% if mitglied.Image.formats.thumbnail %}
              {% set image = mitglied.Image.formats.thumbnail.url %}
            {% elseif mitglied.Image.url %}
              {% set image = mitglied.Image.url %}
            {% endif %}
            <div class="vorstand-item col-xl-6">
              <div class="d-flex align-items-center">
                <div class="vorstand-picture">
                  {% if mitglied.Image %}
                    <img src="{{ image }}" alt="" class="vorstand-image"
                         loading="lazy" width="88" height="88">
                  {% else %}
                    <div class="vorstand-placeholder"><span class="ico-user"></span></div>
                  {% endif %}
                </div>
                <div class="vorstand-text">
                  {{ mitglied.Name }}<br>({{ mitglied.Rolle }})
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% if partners|length > 0 %}
      <section class="pt-5 my-5">
        <div class="anchor" id="KooperationsPartner">
          <h1 class="mb-4">Unsere Kooperationspartner</h1>
          <div class="pt-3 gy-md-0 gy-3 row partners justify-content-center">
            {% for partner in partners %}
              {# Set Partner Image #}
              {% if partner.Image.formats.thumbnail %}
                {% set image = partner.Image.formats.thumbnail.url %}
              {% elseif partner.Image.url %}
                {% set image = partner.Image.url %}
              {% endif %}
              {# --- #}
              <div class="col-md-3 text-center position-relative">
                <div class="partner-image-wrap">
                  <img src="{{ image }}" alt="" class="partner-image" loading="lazy">
                </div>
                <div class="pt-2"><strong>{{ partner.Name }}</strong></div>
                <div class="pt-1">
                  <i><a class="stretched-link"
                        href="{{ partner.Link }}">{{ partner.Link | replace("https://", "") }}</a></i>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
  </div>
</main>
