---
title: Naturfreunde Tecklenburg - Neuigkeit
layout: base.njk
pagination:
  data: neuigkeiten
  size: 1
  alias: news
permalink: 'aktuelles/{{ news.Title | slug }}/'
---
<main class="pt-5">
  <div class="container d-flex flex-column">
    <h1 class="mb-lg-5 md-3">{{ news.Title }}</h1>
    <div class="">
      {% if news.TeaserImage.formats.small %}
       {% set image = news.TeaserImage.formats.small.url %}
      {% else %}
        {% set image = news.TeaserImage.url  %}
      {% endif %}
      <img src="{{ news.TeaserImage.formats.small.url }}" alt="" class="img-fluid floating-img ms-0 ms-lg-4">


      {% markdown %}
        {{ news.Text }}
      {% endmarkdown %}
      {% set gallery = news.Gallery %}
      {% for image in gallery %}
        {% if image.formats.medium.url %}
          {% set thumbnailLink = image.formats.medium.url %}
        {% else %}
          {% set thumbnailLink = image.url %}
        {% endif %}
        <a href="{{ image.url }}">
          <img src="{{ thumbnailLink }}" alt="{{ image.formats.alternativeText }}">
          {% if image.caption %}
            <span>{{ image.caption }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</main>
