---
title: Naturfreunde Tecklenburg - Neuigkeit
layout: base.njk
pagination:
  data: neuigkeiten
  size: 1
  alias: news
permalink: 'aktuelles/{{ news.Title | slug }}/'
---
{% set gallery = news.Gallery %}
<link rel="stylesheet" href="{{ '/newsDetail.css' | url }}">
{% if news.TeaserImage.formats.large.url %}
  <div class="news-cover animate__animated animate__fadeIn">
    <img src="{{ news.TeaserImage.formats.large.url }}" alt="" class="news-cover-image">
  </div>
{% endif %}

<main class="pt-5">

  <section class="container d-flex flex-column">
    <div class="row gy-4 gy-md-0 gy">
      <div class="animate__animated animate__fadeIn d-flex flex-column {% if gallery.length > 0 %}col-lg-8{% else %}col-12{% endif %}">
        <h1 class="mb-lg-5 mb-3">{{ news.Title }}</h1>
        <div class="news-text">
          {% markdown %}{{ news.Text }}{% endmarkdown %}
        </div>
        <div class="mt-auto d-none d-md-block"><a href="{{ '/aktuelles' | url }}">Zurück zur Übersicht</a></div>
      </div>

      {% if gallery.length > 0 %}
        <div class="col-lg-4 animate__animated animate__fadeIn animate__delay-1s">
          <div class="news-gallery-wrapper">
            <div class="news-gallery-slider-controls d-none">
              <div class="btn btn-gallery">
                <div class="caret caret-left"></div>
              </div>
              <div class="btn  btn-gallery">
                <div class="caret caret-right"></div>
              </div>
            </div>
            <div class="news-gallery-slider">
              {% for image in gallery %}
                {% if image.formats.medium.url %}
                  {% set thumbnailLink = image.formats.medium.url %}
                {% else %}
                  {% set thumbnailLink = image.url %}
                {% endif %}
                <a class="lightbox" href="{{ image.url }}" title="{% if image.caption %}{{ image.caption }}{% endif %}">
                  <img src="{{ thumbnailLink }}" alt="{{ image.formats.alternativeText }}">
                </a>
              {% endfor %}
            </div>

          </div>
        </div>
      {% endif %}
    </div>
    <div class="my-4 d-block d-md-none text-center"><a href="{{ '/aktuelles' | url }}">Zurück zur Übersicht</a></div>
  </section>
</main>

<script src="{{ '/newsDetail.js' | url }}"></script>
